<mat-tab-group>
  <mat-tab label="Categorie">
    <ng-template matTabContent>
      <app-view-categorie-table></app-view-categorie-table>
    </ng-template>
  </mat-tab>
  
  <mat-tab label="Conti">
    <ng-template matTabContent>
      <app-view-conti-table></app-view-conti-table>
    </ng-template>
  </mat-tab>
  
  <mat-tab label="Currency">
    <ng-template matTabContent>
      <app-view-currency-table></app-view-currency-table>
    </ng-template>
  </mat-tab>
  
  <mat-tab label="GruppiConto">
    <ng-template matTabContent>
      <app-view-gruppiconto-table></app-view-gruppiconto-table>
    </ng-template>
  </mat-tab>
  
  <mat-tab label="Ricorrenti">
    <ng-template matTabContent>
      <app-view-ricorrenti-table></app-view-ricorrenti-table>
    </ng-template>
  </mat-tab>
  
  <mat-tab label="Transazioni">
    <ng-template matTabContent>
      <app-view-transazioni-table></app-view-transazioni-table>
    </ng-template>
  </mat-tab>
  
  <mat-tab label="Utenti">
    <ng-template matTabContent>
      <app-view-utenti-table></app-view-utenti-table>
    </ng-template>
  </mat-tab>
  
  
</mat-tab-group>
