<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- idConto Column -->
    <ng-container matColumnDef="idConto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>idConto</th>
      <td mat-cell *matCellDef="let element"> {{element.idConto}} </td>
    </ng-container>
    
  <!-- nome Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>nome</th>
      <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
    </ng-container>
    
  <!-- valoreIniziale Column -->
    <ng-container matColumnDef="valoreIniziale">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>valoreIniziale</th>
      <td mat-cell *matCellDef="let element"> {{element.valoreIniziale}} </td>
    </ng-container>
    
  <!-- idUtente Column -->
    <ng-container matColumnDef="idUtente">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>idUtente</th>
      <td mat-cell *matCellDef="let element"> {{element.idUtente}} </td>
    </ng-container>
    
  <!-- idCurrency Column -->
    <ng-container matColumnDef="idCurrency">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>idCurrency</th>
      <td mat-cell *matCellDef="let element"> {{element.idCurrency}} </td>
    </ng-container>
    
  <!-- idGruppoConto Column -->
    <ng-container matColumnDef="idGruppoConto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>idGruppoConto</th>
      <td mat-cell *matCellDef="let element"> {{element.idGruppoConto}} </td>
    </ng-container>
    
  <!-- isDeleted Column -->
    <ng-container matColumnDef="isDeleted">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>isDeleted</th>
      <td mat-cell *matCellDef="let element"> {{element.isDeleted}} </td>
    </ng-container>
    
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>